# Created by .ignore support plugin (hsz.mobi)
hs_err_pid*
### Go template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
*.exe
*.test
*.prof

# Intellij

/.idea/
/.idea/vcs.xml
/.idea/modules.xml
/.idea/webResources.xml
/.idea/nimble.github.io.iml
/.idea/workspace.xml
